@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: inherit;
}

button {
  background: initial;    
  border: initial;
  cursor: pointer;
}

textarea {
  outline: none;
}

ul, ol {
  list-style: none;
}

img {
  /* display: inline-block; */
}

a {
  text-decoration: initial;
  color: inherit;
}


h1 {
  font-size: 30px;
  font-weight: 800;
}

h1::selection,
h1 *::selection {
  color: hsl(0, 0%, 25%);
  background-color: hsl(0, 0%, 90%);
}

body {
  font-family: 'Inter', sans-serif;
  height: 100vh;
}

main {
  border-radius: 8px;
  overflow: hidden;
}

#root {
  background: linear-gradient(hsl(275, 30%, 50%), hsl(260, 43%, 40%));
  min-height: 100vh;
}

.container {
  display: flex;
  gap: 20px;
  max-width: 860px;
  margin-inline: auto;
  padding-top: 50px;
}

.footer {
  position: relative;
  padding-left: 12px;
}
.footer__copy {
  position: absolute;
  bottom: 0;
  display: block;
  font-size: 12px;
  width: 300px;
  color: hsla(0, 0%, 70%, .8);
  transform: rotate(270deg);
  transform-origin: bottom left;
}

.header {
  position: relative;
  text-align: center;
  padding-block: 30px;
  border: 1px solid black;
  border-radius: 8px 8px 0 0;
  background-color: hsl(240, 10%, 10%);
  color: #fff;
}
.header__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header__background::selection {
  background-color: initial;
}
.logo {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
  color: hsl(0, 0%, 88%);
}
.logo__img {
  outline: initial;
}
.logo::selection,
.logo__img::selection {
  background-color: initial;
}
.logo__comment {
  font-weight: 500;
  color: hsl(0, 0%, 80%);
}

.title {
  margin-bottom: 10px;
  color: hsl(0, 0%, 98%);
}
.title__publicly {
  font-style: italic;
  color: hsl(0, 0%, 80%);
}

.feedback-form {
  position: relative;
  width: 450px;
  margin-inline: auto;
  border-radius: 7px;
  background-color: hsl(290, 7%, 18%);
}
.feedback-form_valid {
  box-shadow: 0 0 1px 1px  hsl(120, 50%, 60%);
}
.feedback-form_invalid {
  box-shadow: 0 0 1px 1px  hsl(10, 60%, 60%);
}
.feeback-form__wrapper {
  position: relative;
}
.feedback-form__textarea { 
  font-size: 16px;
  resize: none;
  width: 100%;
  height: 120px;
  padding: 10px 15px;
  border: none;
  background-color: transparent;
  color: hsl(0, 0%, 90%);
}
.feedback-form__textarea::placeholder {
  opacity: 0;
}
.feedback-form__textarea::selection {
  background-color: hsl(0, 0%, 85%);
  color: hsl(0, 0%, 10%);
}

.feedback-form__textarea:focus + .feedback-form__placeholder, 
.feedback-form__textarea:not(:placeholder-shown) + .feedback-form__placeholder {
  opacity: 0;
}
.feedback-form__placeholder {
  position: absolute;
  top: 10px;
  left: 15px;
  display: block;
  font-size: 16px;
  text-align: left;
  color: hsl(0, 0%, 60%);
  user-select: none;
  pointer-events: none;
}
.feedback-form__count {
  position: absolute;
  bottom: 15px;
  left: 15px;
  display: block;
  font-size: 14px;
  font-style: italic;
  padding-block: 2  px;
  color: hsl(0, 0%, 65%);
 pointer-events: none; 
}
.feedback-form__count::selection {
  background-color: initial;
}
.feedback-form__submit {
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .1px;
  text-transform: uppercase;
  display: inline-block;
  background-color: #fff;
  border-radius: 1000px;
  padding: 6px 20px;
  transition: all .5s;
}
.feedback-form__submit:hover,
.feedback-form__submit:focus-within {
  transform: scale(1.1);
}
.feedback-form__submit::selection {
  background-color: initial;
}

.feedbacks {
  background-color: #fff;
}

.feedback {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 30px 15px 30px;
  border-bottom: 1px solid hsl(0, 0%, 80%);
  background-color: hsl(272, 10%, 95%);
  cursor: pointer;
  transition: all .2s
}
.feedback:hover,
.feedback:focus {
  background-color: #fff;
  transform: translateX(5px);
}
.feedback_expand {
  background-color: #fff;
}
.feedback__button {
  font-size: 12px;
  font-weight: 500;
  color: hsl(0, 0%, 45%);
  line-height: 1;
  border-radius: 4px;
  padding: 4px 10px 9px 10px;
}
.feedback__button:disabled {
  padding: 10px;
}
.feedback__button:disabled > .feedback__icon {
  display: none;
}
.feedback__button:hover,
.feedback__button:focus {
  background-color: hsl(0, 0%, 96%);
  color: hsl(0, 0%, 20%);
}
.feedback__icon {
  display: block;
  width: 20px;
  height: 20px;
  margin-inline: auto;
}
.feedback__icon > path {
  fill: hsl(0, 0%, 75%);
}
.feedback__badge-letter {
  font-weight: 700;
  font-size: 20px;
  min-width: 45px;
  height: 45px;
  border-radius: 6px;
  background-color: hsl(272, 40%, 40%);
  color: #fff;
  text-align: center;
  line-height: 2.2;
}
.feedback__info {
  font-size: 14px;
  flex-basis: 450px;
}
.feedback__company {
  font-size: 12px;
  font-weight: 600;
  color: hsl(0, 0%, 60%);
  letter-spacing: .55555px;
  text-transform: uppercase;
}
.feedback__message {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 500;
}
.feedback_expand .feedback__info .feedback__message {
  -webkit-line-clamp: initial;
  -webkit-box-orient: initial;
}
.feedback__message::selection,
.feedback__company::selection,
.feedback__age::selection,
.feedback__button::selection {
  color: hsl(0, 0%, 99%);
  background-color: hsl(0, 0%, 30%);
}
.feedback__badge-letter::selection {
  background-color: transparent;
}
.feedback__age {
  flex-grow: 1;
  font-size: 12px;
  font-weight: 500;
  text-align: right;
  color: hsl(0, 0%, 45%);
}

.hashtags {

}

.hashtag {
}
.hashtag__button {
  font-size: 14px;
  font-weight: 500;
  color: hsla(0, 0%, 100%, .5);
  padding: 8px 20px;
  background-color: hsla(0, 0%, 100%, .09); 
  border-radius: 1000px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all .2s;
  outline: none;
}
.hashtag__button_active {
  transform: scale(1.1);
  color: #fff;
}
.hashtag__button:hover,
.hashtag__button:focus-within {
  transform: scale(1.1);
  color: #fff;
}